<div class="popup active">
    <div class="popup__inner">
        <div class="popup__wrap">
            <h2 class="popup__title" *ngIf="!sent">Смена пароля</h2>
            <h2 class="popup__title" *ngIf="sent">Пароль успешно изменен.</h2>
            <a href="/" *ngIf="sent">Главная</a>
            <form class="form" action="#" *ngIf="!sent">
                <div class="form__group">
                    <div class="form__name">Новый пароль</div>
                    <div class="form__wrap">
                        <input class="form__control" type="password" [(ngModel)]="newPassword" name="login" />
                    </div>
                </div>
                <div class="form__group">
                    <button class="btn btn_primary" type="submit" [disabled]="newPassword.length === 0" (click)="submitClick()">Изменить</button>
                </div>
            </form>
        </div>
    </div>
</div>