<div>
    <div class="content__item">
        <p>В данный момент у нас существует три Promo-акции</p>
        <ol>
            <li>
                Доступ к системе GoHappy и обучению составляет всего $12 в месяц и это акционная цена!
                С мая 2021 стоимость доступа составляет $18 в месяц.
            </li>
            <li>
                При полугодичной подписке на пакете “ОПТИМАЛЬНЫЙ” мы дарим Вам дополнительный 1 месяц доступа.
                В итоге Вы получаете 7 месяцев доступа к обучению и системе, экономия составляет 14%!
            </li>
            <li>
                При подписке на 1 год на пакете “ЛИДЕРСКИЙ” Вы получете статус “Привилегированный” на постоянной основе 
                и в подарок еще 3 месяца доступа дополнительно. Экономия составляет 20%!
            </li>
        </ol>
        <div style="display: flex;">
            <img src="../../content/img/Logo_Print_Futbolka.jpg" alt="" style="float: right;" width="10%">
            <div>
                <p>Для первых 15 “Привилегированных” участников мы предоставим дополнительные подарки.
                    Сейчас дарим брендированные футболки, кепки или же настраиваем рекламную кампанию на нашей страничке Facebook,
                    для продвижения Вашего персонального сайта в системе GoHappy.
                    <br><br>
                    Для участников сообщества есть возможность войти в команду по развитию вплоть до основателей сообщества.
                    Для этого напишите сообщение в <a href="https://t.me/gohappyteam24" target="_blank">Telegram</a>.
                    Для тех, кто хочет наблюдать за нами, получать актуальную информацию, полезняхи, свежие промо-акции,
                    подпишитесь в <a href="https://t.me/gohappyteam" target="_blank">инфо-канал Telegram</a>.</p>
            </div>
        </div>
    </div>
</div>