<div *ngIf="isStatisticsDataAvailable">
    <div class="content__title-flex">
        <h1 class="content__main-title content__main-title_left">Моя статистика</h1>
        <div class="efficiency-wrap">
            <div class="efficiency">
                <div class="tooltip tooltip_mobile" tooltip="<div>Отношение перешедших к проплатившим</div>" [options]="{'tooltip-class': 'tooltip__content', 'theme': 'light'}">
                    <div class="tooltip__icon">
                        <div class="svg-icon svg-icon_icon-inform">
                            <svg>
                                <use xlink:href="#icon-inform"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="tooltip__content">Отношение перешедших к проплатившим</div>
                </div>
                <span>Эффективность</span>
                <div class="efficiency__num" title="{{plotData.paymentEfficiency}}%">{{plotData.paymentEfficiency}}%</div>
                <div class="efficiency__arrow">
                    <div class="svg-icon svg-icon_icon-border-arrow">
                        <svg>
                            <use xlink:href="#icon-border-arrow"></use>
                        </svg>
                    </div>
                </div>
            </div>
            <div class="efficiency">
                <span>Дошли до последнего урока</span>
                <div class="efficiency__num" title="{{plotData.counts[1]['SC'] > 0 ?(plotData.courseFinished / plotData.counts[1]['SC'] * 100).toFixed() : 0}}%"><span>{{plotData.counts[1]['SC'] > 0 ?(plotData.courseFinished / plotData.counts[1]['SC'] * 100).toFixed() : 0}}%</span></div>
                <div class="efficiency__arrow">
                    <div class="svg-icon svg-icon_icon-border-arrow">
                        <svg>
                            <use xlink:href="#icon-border-arrow"></use>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content__item content__item_no-padding content__item_no-margin">
        <div class="chart">
            <div class="chart__header">
                <div class="chart__header-block chart__header-block_dates">
                    <div class="chart__dates">
                        <div class="chart__date" (click)="tabClick(0)" [ngClass]="{active: intervalsConfig[0].active}">Неделя</div>
                        <div class="chart__date" (click)="tabClick(1)" [ngClass]="{active: intervalsConfig[1].active}">Месяц</div>
                        <div class="chart__date" (click)="tabClick(2)" [ngClass]="{active: intervalsConfig[2].active}">Год</div>
                    </div>
                </div>
                <div class="chart__header-block">
                    <div [formGroup]="rangePlotGroup" class="range">
                        <ng2-flatpickr [(ngModel)]="plotDate" class="range__input flatpickr-input" [config]="plotFlatpickrOptions"
                                       formControlName="rangePlot"></ng2-flatpickr>
                        <div class="svg-icon svg-icon_icon-date">
                            <svg>
                                <use xlink:href="#icon-date"></use>
                            </svg>
                        </div>
                        <div class="range__from">{{ fromPlotDate | date:'dd.MM.yyy' }}</div>
                        <div class="range__to">{{ toPlotDate | date:'dd.MM.yyy' }}</div>
                    </div>
                </div>
            </div>
            <div class="chart__footer">
                <label class="chart__stat">
                    <input type="checkbox" name="vl" [checked]="chartData[0].showLine"
                           (change)="chartData[0].showLine = !chartData[0].showLine; updateChart();"/>
                    <div class="checkbox">
                        <div class="svg-icon svg-icon_icon-check">
                            <svg>
                                <use xlink:href="#icon-check"></use>
                            </svg>
                        </div>
                    </div>
                    <span class="chart__line" style="background-color: #e74c3c"></span>
                    <span class="chart__num"
                          title="Переходы на сайт: {{plotData.counts[0]['VL']}}">Переходы на сайт: {{plotData.counts[0]['VL']}}</span>
                </label>
                <label class="chart__stat">
                    <input type="checkbox" name="sc" [checked]="chartData[1].showLine"
                           (change)="chartData[1].showLine = !chartData[1].showLine; updateChart();"/>
                    <div class="checkbox">
                        <div class="svg-icon svg-icon_icon-check">
                            <svg>
                                <use xlink:href="#icon-check"></use>
                            </svg>
                        </div>
                    </div>
                    <span class="chart__line" style="background-color: #e67e22"></span>
                    <span class="chart__num" title="Регистрации на курс: {{plotData.counts[1]['SC']}}">Регистрации на курс: {{plotData.counts[1]['SC']}}</span>
                </label>
                <label class="chart__stat">
                    <input type="checkbox" name="cf" [checked]="chartData[2].showLine"
                           (change)="chartData[2].showLine = !chartData[2].showLine; updateChart();"/>
                    <div class="checkbox">
                        <div class="svg-icon svg-icon_icon-check">
                            <svg>
                                <use xlink:href="#icon-check"></use>
                            </svg>
                        </div>
                    </div>
                    <span class="chart__line" style="background-color: #3498db"></span>
                    <span class="chart__num"
                          title="Закончили курс: {{plotData.courseFinished}}">Закончили курс: {{plotData.courseFinished}}</span>
                </label>
                <label class="chart__stat">
                    <input type="checkbox" name="fb" [checked]="chartData[3].showLine"
                           (change)="chartData[3].showLine = !chartData[3].showLine; updateChart();"/>
                    <div class="checkbox">
                        <div class="svg-icon svg-icon_icon-check">
                            <svg>
                                <use xlink:href="#icon-check"></use>
                            </svg>
                        </div>
                    </div>
                    <span class="chart__line" style="background-color: #2ecc71"></span>
                    <span class="chart__num" title="Заказали консультацию: {{plotData.counts[3]['FB']}}">Заказали консультацию: {{plotData.counts[3]['FB']}}</span>
                </label>
                <label class="chart__stat">
                    <input type="checkbox" name="nl" [checked]="chartData[5].showLine"
                           (change)="chartData[5].showLine = !chartData[5].showLine; updateChart();"/>
                    <div class="checkbox">
                        <div class="svg-icon svg-icon_icon-check">
                            <svg>
                                <use xlink:href="#icon-check"></use>
                            </svg>
                        </div>
                    </div>
                    <span class="chart__line" style="background-color: #f1c40f"></span>
                    <span class="chart__num"
                          title="Клиенты: {{plotData.counts[5]['NC']}}">Клиенты: {{plotData.counts[5]['NC']}}</span>
                </label>
                <label class="chart__stat">
                    <input type="checkbox" name="np" [checked]="chartData[4].showLine"
                           (change)="chartData[4].showLine = !chartData[4].showLine; updateChart();"/>
                    <div class="checkbox">
                        <div class="svg-icon svg-icon_icon-check">
                            <svg>
                                <use xlink:href="#icon-check"></use>
                            </svg>
                        </div>
                    </div>
                    <span class="chart__line" style="background-color: #9b59b6"></span>
                    <span class="chart__num"
                          title="Партнеры: {{plotData.counts[4]['NP']}}">Партнеры: {{plotData.counts[4]['NP']}}</span>
                </label>
            </div>
            <div class="chart__content">
                <div class="chart__content-top">
                    <h3 class="chart__title">График</h3>
                    <div class="chart__toggle" [ngClass]="{active: chartToggleActive}" (click)="chartToggleActive = !chartToggleActive">
                        <div class="svg-icon svg-icon_icon-arrow2">
                            <svg>
                                <use xlink:href="#icon-arrow2"></use>
                            </svg>
                        </div>
                        <span *ngIf="!chartToggleActive">Скрыть</span>
                        <span *ngIf="chartToggleActive">Показать</span>
                    </div>
                </div>
                <div [@slideUpDown]="chartToggleActive" class="chart__wrap" >
                    <div class="chart__container">
                        <canvas id="myChart"
                                baseChart
                                [datasets]="chartData"
                                [labels]="chartLabels"
                                [options]="chartOptions"
                                [chartType]="chartType"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content__item content__item_no-padding content__item_flex-between"></div>
</div>
<div *ngIf="isWardsDataAvailable">
    <div class="content__item content__item_no-padding">
        <div class="partners">
            <div class="partners__header">
                <div class="partners__top">
                    <div class="partners__labels">
                        <label class="partners__label">
                            <input type="checkbox"  [(ngModel)]="options.contactsSeeFilter" (change)="onChangeFilter()" />
                            <div class="checkbox">
                                <div class="svg-icon svg-icon_icon-check">
                                    <svg>
                                        <use xlink:href="#icon-check"></use>
                                    </svg>
                                </div>
                            </div>
                            <span>
                      <div class="svg-icon svg-icon_icon-status-show">
                        <svg>
                          <use xlink:href="#icon-status-show"></use>
                        </svg>
                      </div>Просмотрели контакты
                    </span>
                        </label>
                        <label class="partners__label">
                            <input type="checkbox"[(ngModel)]="options.feedbackFilter" (change)="onChangeFilter()" />
                            <div class="checkbox">
                                <div class="svg-icon svg-icon_icon-check">
                                    <svg>
                                        <use xlink:href="#icon-check"></use>
                                    </svg>
                                </div>
                            </div>
                            <span>
                      <div class="svg-icon svg-icon_icon-status-order">
                        <svg>
                          <use xlink:href="#icon-status-order"></use>
                        </svg>
                      </div>Заказали консультацию
                    </span>
                        </label>
                        <label class="partners__label">
                            <input type="checkbox" [(ngModel)]="options.contactFilter" (change)="onChangeFilter()" />
                            <div class="checkbox">
                                <div class="svg-icon svg-icon_icon-check">
                                    <svg>
                                        <use xlink:href="#icon-check"></use>
                                    </svg>
                                </div>
                            </div>
                            <span>
                      <div class="svg-icon svg-icon_icon-status-call">
                        <svg>
                          <use xlink:href="#icon-status-call"></use>
                        </svg>
                      </div>Связаться
                    </span>
                        </label>
                        <label class="partners__label">
                            <input type="checkbox" [(ngModel)]="options.renouncementFilter" (change)="onChangeFilter()"/>
                            <div class="checkbox">
                                <div class="svg-icon svg-icon_icon-check">
                                    <svg>
                                        <use xlink:href="#icon-check"></use>
                                    </svg>
                                </div>
                            </div>
                            <span>
                      <div class="svg-icon svg-icon_icon-status-refuse">
                        <svg>
                          <use xlink:href="#icon-status-refuse"></use>
                        </svg>
                      </div>Отказ
                    </span>
                        </label>
                        <label class="partners__label">
                            <input type="checkbox" [(ngModel)]="options.clientFilter" (change)="onChangeFilter()">
                            <div class="checkbox">
                                <div class="svg-icon svg-icon_icon-check">
                                    <svg>
                                        <use xlink:href="#icon-check"></use>
                                    </svg>
                                </div>
                            </div>
                            <span>
                      <div class="svg-icon svg-icon_icon-status-client2">
                        <svg>
                          <use xlink:href="#icon-status-client2"></use>
                        </svg>
                      </div>Клиенты
                    </span>
                        </label>
                        <label class="partners__label">
                            <input type="checkbox" [(ngModel)]="options.partnerFilter" (change)="onChangeFilter()" />
                            <div class="checkbox">
                                <div class="svg-icon svg-icon_icon-check">
                                    <svg>
                                        <use xlink:href="#icon-check"></use>
                                    </svg>
                                </div>
                            </div>
                            <span>
                      <div class="svg-icon svg-icon_icon-status-partner2">
                        <svg>
                          <use xlink:href="#icon-status-partner2"></use>
                        </svg>
                      </div>Партнеры
                    </span>
                        </label>
                    </div>
                    <div class="partners__toggle partners__toggle_mobile popup-btn" (click)="openFiltersPopup()">
                        <span>Фильтры</span>
                        <div class="svg-icon svg-icon_icon-arrow2">
                            <svg>
                                <use xlink:href="#icon-arrow2"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="partners__filters" [@slideUpDown]="filtersToggleActive">
                    <div class="partners__filters-wrap">
                        <div class="partners__filter">
                            <div class="partners__filter-name">Мессенджеры</div>
                            <div class="partners__labels partners__labels_msg">
                                <label class="partners__label">
                                    <input type="checkbox" [(ngModel)]="options.telegramFilter" (change)="onChangeFilter()" />
                                    <div class="checkbox">
                                        <div class="svg-icon svg-icon_icon-check">
                                            <svg>
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <span>
                          <div class="svg-icon svg-icon_icon-tg">
                            <svg>
                              <use xlink:href="#icon-tg"></use>
                            </svg>
                          </div>
                        </span>
                                </label>
                                <label class="partners__label">
                                    <input type="checkbox"  [(ngModel)]="options.facebookFilter" (change)="onChangeFilter()" />
                                    <div class="checkbox">
                                        <div class="svg-icon svg-icon_icon-check">
                                            <svg>
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <span>
                          <div class="svg-icon svg-icon_icon-msg">
                            <svg>
                              <use xlink:href="#icon-msg"></use>
                            </svg>
                          </div>
                        </span>
                                </label>
                            </div>
                        </div>
                        <div class="partners__filter">
                            <div class="partners__filter-name">Урок</div>
                            <div class="partners__select">
                                <select [(ngModel)]="options.lessonFilter" (change)="onChangeFilter()">
                                    <option value="any">Все</option>
                                    <option value="4">Закончили курс</option>
                                    <option value="1">Урок №1</option>
                                    <option value="2">Урок №2</option>
                                    <option value="3">Урок №3</option>
                                </select>
                            </div>
                        </div>
                        <div class="partners__filter">
                            <div [formGroup]="rangeWardsGroup" class="range">
                                <ng2-flatpickr [(ngModel)]="wardsDate" class="range__input flatpickr-input" [config]="wardsFlatpickrOptions"
                                               formControlName="rangeWards"></ng2-flatpickr>
                                <div class="svg-icon svg-icon_icon-date">
                                    <svg>
                                        <use xlink:href="#icon-date"></use>
                                    </svg>
                                </div>
                                <div class="range__from">{{ fromWardsDate | date:'dd.MM.yyy' }}</div>
                                <div class="range__to">{{ toWardsDate | date:'dd.MM.yyy' }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="partners__table">
                <div class="partners__thead">
                    <div class="partners__td">
                        <div class="partners__search">
                            <input class="partners__search-input" type="text" placeholder="Введите имя или ник"  (keyup)="searchChanged($event)" />
                            <div class="partners__search-placeholder">Поиск</div>
                            <div class="partners__search-icon">
                                <div class="svg-icon svg-icon_icon-search">
                                    <svg>
                                        <use xlink:href="#icon-search"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="partners__search-close">
                                <div class="svg-icon svg-icon_icon-close3">
                                    <svg>
                                        <use xlink:href="#icon-close3"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="partners__td">Время подписки</div>
                    <div class="partners__td">Телефон</div>
                    <div class="partners__td">Переход</div>
                    <div class="partners__td">Текущий урок</div>
                    <div class="partners__td">Источник трафика</div>
                    <div class="partners__td"></div>
                </div>
                <div class="partners__tbody">
                    <div *ngFor="let ward of wards;" class="partners__tr" [ngClass]="{active: ward.active}">
                        <div class="partners__td">
                            <div class="partners__status">
                                <div *ngIf="ward.status === status.renouncement" class="svg-icon svg-icon_icon-status-refuse">
                                    <svg>
                                        <use xlink:href="#icon-status-refuse"></use>
                                    </svg>
                                </div>
                                <div *ngIf="ward.status === status.contact" class="svg-icon svg-icon_icon-status-call">
                                    <svg>
                                        <use xlink:href="#icon-status-call"></use>
                                    </svg>
                                </div>
                                <div *ngIf="ward.status === status.client" class="svg-icon svg-icon_icon-status-client">
                                    <svg>
                                        <use xlink:href="#icon-status-client"></use>
                                    </svg>
                                </div>
                                <div *ngIf="ward.status === status.partner" class="svg-icon svg-icon_icon-status-partner">
                                    <svg>
                                        <use xlink:href="#icon-status-partner"></use>
                                    </svg>
                                </div>
                            </div>
                            <a class="partners__image">
                                <div *ngIf="ward.status === 'client'" class="svg-icon svg-icon_icon-partner-ava-client">
                                    <svg>
                                        <use xlink:href="#icon-partner-ava-client"></use>
                                    </svg>
                                </div>
                                <div *ngIf="ward.status === 'partner'" class="svg-icon svg-icon_icon-partner-ava-partner">
                                    <svg>
                                        <use xlink:href="#icon-partner-ava-partner"></use>
                                    </svg>
                                </div>
                                <div *ngIf="ward.status !== 'partner' && ward.status !== 'client'" class="svg-icon svg-icon_icon-partner-ava">
                                    <svg>
                                        <use xlink:href="#icon-partner-ava"></use>
                                    </svg>
                                </div>
                            </a>
                            <div class="partners__name">
                                <a>{{ ward.second_name }} {{ ward.first_name }}</a>
                                <a *ngIf="ward.active" class="partners__call" [href]="'https://t.me/' + ward.username" target="_blank">
                                    <div class="svg-icon svg-icon_icon-phone">
                                        <svg>
                                            <use xlink:href="#icon-phone"></use>
                                        </svg>
                                    </div>
                                    <span>Связаться »</span>
                                </a>
                            </div>
                            <div class="partners__country">
                                <div class="svg-icon svg-icon_icon-ua">
                                    <img [src]="dataBaseUrl+ '/flags/' + ward.country + '.gif'">
                                </div>
                            </div>
                        </div>
                        <div class="partners__td">
                            <div class="partners__date">{{ ward.created_date | date: 'dd.MM.yyyy' }}</div>
                            <div class="partners__time">{{ ward.created_date | date: 'hh:mm a' }}</div>
                        </div>
                        <div class="partners__td">{{ ward.contact }}</div>
                        <div class="partners__td">
                            <a class="partners__social" [href]="'https://t.me/' + ward.username" target="_blank">
                                <div *ngIf="ward.from === 'telegram'" class="svg-icon svg-icon_icon-tg">
                                    <svg>
                                        <use xlink:href="#icon-tg"></use>
                                    </svg>
                                </div>
                                <div *ngIf="ward.from === 'facebook'" class="svg-icon svg-icon_icon-msg">
                                    <svg>
                                        <use xlink:href="#icon-msg"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>
                        <div class="partners__td">
                            <div class="partners__lesson">
                                <div class="partners__lesson-icon popup-btn" data-src="#lessons-popup" (click)="openLessonsPopup(ward.id)">
                                    <div class="svg-icon svg-icon_icon-inform">
                                        <svg>
                                            <use xlink:href="#icon-inform"></use>
                                        </svg>
                                    </div>
                                </div>
                                <div class="partners__lesson-name">Урок №{{ ward.step }}</div>
                                <div class="partners__lesson-date">{{ ward.last_send_time | date: 'dd.MM.yyyy' }}</div>
                            </div>
                        </div>
                        <div class="partners__td">utm_1</div>
                        <div class="partners__td">
                            <div class="partners__comment">{{ ward.note }}</div>
                            <div class="partners__drop-toggle" [ngClass]="{active: ward.mobiPartnerInfoActive}" (click)="ward.mobiPartnerInfoActive = !ward.mobiPartnerInfoActive">
                                <div class="svg-icon svg-icon_icon-arrow2">
                                    <svg>
                                        <use xlink:href="#icon-arrow2"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="partners__edit" (click)="openStatusPopup(ward)">
                                <div class="svg-icon svg-icon_icon-pen">
                                    <svg>
                                        <use xlink:href="#icon-pen"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="partners__drop" [ngStyle]="{ display: !!ward.mobiPartnerInfoActive ? 'block': 'none'}" >
                            <div class="partners__drop-wrap">
                                <div class="partners__drop-tr">
                                    <div class="partners__drop-td">
                                        <div class="partners__drop-title">Время подписки</div>
                                        <div class="partners__drop-value">{{ ward.created_date | date: 'dd.MM.yyyy' }}</div>
                                        <div class="partners__drop-value">{{ ward.created_date | date: 'hh:mm a' }}</div>
                                    </div>
                                    <div class="partners__drop-td">
                                        <div class="partners__drop-title">Текущий урок</div>
                                        <div class="partners__drop-value">
                                            <div class="partners__lesson popup-btn" data-src="#lessons-popup">
                                                <div class="partners__lesson-name">Урок №{{ ward.step }}</div>
                                                <div class="partners__lesson-date">{{ ward.last_send_time | date: 'dd.MM.yyyy' }}</div>
                                                <div class="partners__lesson-icon" (click)="openLessonsPopup(ward.id)">
                                                    <div class="svg-icon svg-icon_icon-arrow2">
                                                        <svg>
                                                            <use xlink:href="#icon-arrow2"></use>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="partners__drop-tr">
                                    <div class="partners__drop-td">
                                        <div class="partners__drop-title">Телефон</div>
                                        <div class="partners__drop-value">{{ ward.phone_number }}</div>
                                    </div>
                                    <div class="partners__drop-td">
                                        <div class="partners__drop-title">Переход</div>
                                        <div class="partners__drop-value">
                                            <a class="partners__social" href="" *ngIf="ward.from === 'telegram'" [href]="'https://t.me/' + ward.username" target="_blank">
                                                <div class="svg-icon svg-icon_icon-tg">
                                                    <svg>
                                                        <use xlink:href="#icon-tg"></use>
                                                    </svg>
                                                </div>
                                            </a>
                                            <span *ngIf="ward.from === 'telegram'">Телеграм</span>
                                            <a class="partners__social" href="" *ngIf="ward.from === 'facebook'">
                                                <div class="svg-icon svg-icon_icon-msg">
                                                    <svg>
                                                        <use xlink:href="#icon-msg"></use>
                                                    </svg>
                                                </div>
                                            </a>
                                            <span *ngIf="ward.from === 'facebook'">Фейсбук</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="partners__drop-tr">
                                    <div class="partners__drop-td">
                                        <div class="partners__drop-title">Источник</div>
                                        <div class="partners__drop-value">utm_1</div>
                                    </div>
                                </div>
                                <div class="partners__drop-tr">
                                    <div class="partners__drop-td">
                                        <div class="partners__drop-value">{{ ward.note }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="lessonPopupStatus" class="popup" id="lessons-popup" [ngClass]="{active: lessonPopupStatus}">
    <div class="popup__inner">
        <div class="popup__wrap popup__wrap_small">
            <h2 class="popup__title">Список уроков</h2>
            <div class="lessons">
                <div class="lessons__user">
                    <div class="lessons__user-image">
                        <img [src]="!!lessonsInfo.iconUrl ? dataBaseUrl + lessonsInfo.iconUrl : dataBaseUrl + '/icons/lead.png'" />
                    </div>
                    <div class="lessons__user-name">{{lessonsInfo.firstName}} {{lessonsInfo.secondName}}</div>
                </div>
                <p *ngIf="lessonsInfo.lessons.length === 0">Лид не просмотрел ни одного урока</p>
                <table class="lessons__table" *ngIf="lessonsInfo.lessons.length > 0">
                    <thead>
                    <tr>
                        <td>Урок</td>
                        <td>Дата просмотра</td>
                    </tr>
                    </thead>
                    <tbody *ngFor="let lesson of lessonsInfo.lessons">
                    <tr>
                        <td>
                            <div class="lessons__status">
                                <div class="svg-icon svg-icon_icon-check">
                                    <svg>
                                        <use xlink:href="#icon-check"></use>
                                    </svg>
                                </div>
                            </div>
                            <div class="lessons__name">Урок №{{lesson.lessonNumber}}</div>
                        </td>
                        <td>{{lesson.readingDate | date:'dd.MM.yyy'}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="popup__close popup__close_text" (click)="lessonPopupStatus = false">Закрыть</div>
        </div>
    </div>
</div>

<div *ngIf="statusPopupStatus" class="popup" id="status-popup" [ngClass]="{active: statusPopupStatus}">
    <div class="popup__inner">
        <div class="popup__wrap popup__wrap_medium3">
            <h2 class="popup__title">Редактирование статуса</h2>
            <form class="form">
                <div class="user2">
                    <div class="user2__image">
                        <img [src]="!!currentWard.icon_url ? dataBaseUrl + currentWard.icon_url : dataBaseUrl + '/icons/lead.png'" />
                    </div>
                    <div class="user2__name">{{currentWard.first_name}} {{currentWard.second_name}}</div>
                </div>
                <div class="form__group">
                    <label class="status-radio">
                        <input type="radio" name="status" [checked]="currentWard.status === status.renouncement"
                            [value]="status.renouncement" [(ngModel)]="currentWard.status"/>
                        <div class="radio"></div>
                        <span class="status-radio__icon">
                      <div class="svg-icon svg-icon_icon-status-refuse">
                        <svg>
                          <use xlink:href="#icon-status-refuse"></use>
                        </svg>
                      </div>
                    </span>
                        <span class="status-radio__name">Отказ</span>
                        <span class="status-radio__desc">Отказ пользователю в том, чтобы он стал вашим партнером</span>
                    </label>
                </div>
                <div class="form__group">
                    <label class="status-radio">
                        <input type="radio" name="status" [checked]="currentWard.status === status.contact"
                            [value]="status.contact" [(ngModel)]="currentWard.status"/>
                        <div class="radio"></div>
                        <span class="status-radio__icon">
                      <div class="svg-icon svg-icon_icon-status-call">
                        <svg>
                          <use xlink:href="#icon-status-call"></use>
                        </svg>
                      </div>
                    </span>
                        <span class="status-radio__name">Связаться</span>
                        <span class="status-radio__desc">Необходимость связаться с пользователем и обсудить партнерство</span>
                    </label>
                </div>
                <div class="form__group">
                    <label class="status-radio">
                        <input type="radio" name="status" [checked]="currentWard.status === status.client"
                            [value]="status.client" [(ngModel)]="currentWard.status"/>
                        <div class="radio"></div>
                        <span class="status-radio__icon">
                      <div class="svg-icon svg-icon_icon-status-client">
                        <svg>
                          <use xlink:href="#icon-status-client"></use>
                        </svg>
                      </div>
                    </span>
                        <span class="status-radio__name">Клиент</span>
                        <span class="status-radio__desc">Пользователь идет на контакт, адекватен и претендует на партнерство</span>
                    </label>
                </div>
                <div class="form__group">
                    <label class="status-radio">
                        <input type="radio" name="status" [checked]="currentWard.status === status.partner"
                            [value]="status.partner" [(ngModel)]="currentWard.status"/>
                        <div class="radio"></div>
                        <span class="status-radio__icon">
                      <div class="svg-icon svg-icon_icon-status-partner">
                        <svg>
                          <use xlink:href="#icon-status-partner"></use>
                        </svg>
                      </div>
                    </span>
                        <span class="status-radio__name">Партнер</span>
                        <span class="status-radio__desc">Пользователь стал вашим деловым партнером в системе</span>
                    </label>
                </div>
                <div class="form__group form__group_comment">
                    <div class="form__name">Комментарий</div>
                    <div class="form__desc">Ваши рабочие заметки относительно пользователя</div>
                    <textarea name="note" class="form__control form__control_textarea" [(ngModel)]="currentWard.note"></textarea>
                </div>
            </form>
            <div class="popup__close popup__close_btns2">
                <div class="popup__close-btn popup__close-btn_gray" (click)="statusPopupStatus = false">отмена</div>
                <div class="popup__close-btn" (click)="saveStatus()">применить</div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="filtersPopupStatus" class="popup" [ngClass]="{active: filtersPopupStatus}" id="filters-popup">
    <div class="popup__inner">
        <div class="popup__wrap popup__wrap_small">
            <h2 class="popup__title">Фильтры</h2>
            <div class="partners partners_popup">
                <div class="partners__labels">
                    <label class="partners__label">
                        <input type="checkbox" [(ngModel)]="options.contactsSeeFilter"/>
                        <div class="checkbox">
                            <div class="svg-icon svg-icon_icon-check">
                                <svg>
                                    <use xlink:href="#icon-check"></use>
                                </svg>
                            </div>
                        </div>
                        <span>
                      <div class="svg-icon svg-icon_icon-status-show">
                        <svg>
                          <use xlink:href="#icon-status-show"></use>
                        </svg>
                      </div>Просмотрели контакты
                    </span>
                    </label>
                    <label class="partners__label">
                        <input type="checkbox" [(ngModel)]="options.feedbackFilter" />
                        <div class="checkbox">
                            <div class="svg-icon svg-icon_icon-check">
                                <svg>
                                    <use xlink:href="#icon-check"></use>
                                </svg>
                            </div>
                        </div>
                        <span>
                      <div class="svg-icon svg-icon_icon-status-order">
                        <svg>
                          <use xlink:href="#icon-status-order"></use>
                        </svg>
                      </div>Заказали консультацию
                    </span>
                    </label>
                    <label class="partners__label">
                        <input type="checkbox"  [(ngModel)]="options.contactFilter"/>
                        <div class="checkbox">
                            <div class="svg-icon svg-icon_icon-check">
                                <svg>
                                    <use xlink:href="#icon-check"></use>
                                </svg>
                            </div>
                        </div>
                        <span>
                      <div class="svg-icon svg-icon_icon-status-call">
                        <svg>
                          <use xlink:href="#icon-status-call"></use>
                        </svg>
                      </div>Связаться
                    </span>
                    </label>
                    <label class="partners__label">
                        <input type="checkbox" [(ngModel)]="options.renouncementFilter"/>
                        <div class="checkbox">
                            <div class="svg-icon svg-icon_icon-check">
                                <svg>
                                    <use xlink:href="#icon-check"></use>
                                </svg>
                            </div>
                        </div>
                        <span>
                      <div class="svg-icon svg-icon_icon-status-refuse">
                        <svg>
                          <use xlink:href="#icon-status-refuse"></use>
                        </svg>
                      </div>Отказ
                    </span>
                    </label>
                    <label class="partners__label">
                        <input type="checkbox" [(ngModel)]="options.clientFilter"/>
                        <div class="checkbox">
                            <div class="svg-icon svg-icon_icon-check">
                                <svg>
                                    <use xlink:href="#icon-check"></use>
                                </svg>
                            </div>
                        </div>
                        <span>
                      <div class="svg-icon svg-icon_icon-status-client2">
                        <svg>
                          <use xlink:href="#icon-status-client2"></use>
                        </svg>
                      </div>Клиенты
                    </span>
                    </label>
                    <label class="partners__label">
                        <input type="checkbox" [(ngModel)]="options.partnerFilter"/>
                        <div class="checkbox">
                            <div class="svg-icon svg-icon_icon-check">
                                <svg>
                                    <use xlink:href="#icon-check"></use>
                                </svg>
                            </div>
                        </div>
                        <span>
                      <div class="svg-icon svg-icon_icon-status-partner2">
                        <svg>
                          <use xlink:href="#icon-status-partner2"></use>
                        </svg>
                      </div>Партнеры
                    </span>
                    </label>
                </div>
                <div class="partners__filters">
                    <div class="partners__filters-wrap">
                        <div class="partners__filter">
                            <div class="partners__filter-name">Мессенджер</div>
                            <div class="partners__labels partners__labels_msg">
                                <label class="partners__label">
                                    <input type="checkbox"  [(ngModel)]="options.telegramFilter"/>
                                    <div class="checkbox">
                                        <div class="svg-icon svg-icon_icon-check">
                                            <svg>
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <span>
                            <div class="svg-icon svg-icon_icon-tg">
                              <svg>
                                <use xlink:href="#icon-tg"></use>
                              </svg>
                            </div>
                          </span>
                                </label>
                                <label class="partners__label">
                                    <input type="checkbox"  [(ngModel)]="options.facebookFilter"/>
                                    <div class="checkbox">
                                        <div class="svg-icon svg-icon_icon-check">
                                            <svg>
                                                <use xlink:href="#icon-check"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <span>
                            <div class="svg-icon svg-icon_icon-msg">
                              <svg>
                                <use xlink:href="#icon-msg"></use>
                              </svg>
                            </div>
                          </span>
                                </label>
                            </div>
                        </div>
                        <div class="partners__filter">
                            <div class="partners__filter-name">Урок</div>
                            <div class="partners__select">
                                <select [(ngModel)]="options.lessonFilter">
                                    <option value="4">Закончили курс</option>
                                    <option value="1">Урок №1</option>
                                    <option value="2">Урок №2</option>
                                    <option value="3">Урок №3</option>
                                </select>
                            </div>
                        </div>
                        <div class="partners__filter">
                            <div [formGroup]="rangeWardsGroup" class="range">
                                <ng2-flatpickr [(ngModel)]="wardsDate" class="range__input flatpickr-input" [config]="wardsFlatpickrOptions"
                                               formControlName="rangeWards"></ng2-flatpickr>
                                <div class="svg-icon svg-icon_icon-date">
                                    <svg>
                                        <use xlink:href="#icon-date"></use>
                                    </svg>
                                </div>
                                <div class="range__from">{{ fromWardsDate | date:'dd.MM.yyy' }}</div>
                                <div class="range__to">{{ toWardsDate | date:'dd.MM.yyy' }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="popup__close popup__close_btns">
                <div class="popup__close-btn popup__close-btn_gray" (click)="discardFilters()">отмена</div>
                <div class="popup__close-btn" (click)="saveFilters()">применить</div>

            </div>
        </div>
    </div>
</div>
