<div class="popup active">
    <div class="popup__inner">
        <div class="popup__wrap">
            <h2 class="popup__title" *ngIf="!sent">Восстановление пароля</h2>
            <form class="form" action="#" *ngIf="!sent">
                <div *ngIf="notFound">
                    <p class="form__error-msg">Аккаунт с таким логином или почтой не существует в системе. Пожалуйста, проверьте правильность написания данных.</p>
                    <div class="form__separator form__separator_small"></div>
                </div>
                <div class="form__group">
                    <div class="form__name" [ngClass]="{error:notFound}">Ваша почта</div>
                    <input class="form__control" [ngClass]="{error:notFound}" type="text" [(ngModel)]="email" name="login" />
                </div>
                <div class="form__group">
                    <button class="btn btn_primary" type="submit" [disabled]="email.length === 0" (click)="submitClick()">Вход</button>
                </div>
            </form>
            <h2 class="popup__title" *ngIf="sent">Инструкция по восстановлению отправлена на ваш email.</h2>
        </div>
    </div>
</div>