<div>
    <div class="content__item">
        <h1 class="content__title content__title_big">Календарь событий</h1>
        <p>Мы проводим открытые встречи online с ответами на вопросы для тех,
            кто прошел курс-интервью “Финансовая свобода с первых шагов”. Также проводятся прямые трансляции
            Facebook на разные полезные темы.

            В рамках программы обучения специально для участников сообщества GoHappy проводятся закрытые встречи
            в Zoom с участием консультантов сообщества,
            основателей и лидеров. Более высокий уровень обучения в сообществе доступен тем, кто посещает выездные тренинги. </p>
        <p><span class="square-pic-yellow"></span>Открытые встречи для всех желающих</p>
        <p><span class="square-pic-purple"></span>Закрытые встречи только для участников сообщества</p>
    </div>
    <div class="content__item" style="height: 400px">
        <div class="content__calendar">
            <iframe src="https://calendar.google.com/calendar/u/0/embed?src=gohappyteam24@gmail.com&ctz=Europe/Moscow" width="100%" height="300px"></iframe>
        </div>
    </div>
</div>


