<div class="app">
    <header class="header">
        <div class="header__sidebar-toggle">
            <div class="svg-icon svg-icon_icon-bar">
                <svg>
                    <use xlink:href="#icon-bar"></use>
                </svg>
            </div>
            <div class="svg-icon svg-icon_icon-close">
                <svg>
                    <use xlink:href="#icon-close"></use>
                </svg>
            </div>
        </div>
        <div class="header__logo">
            <img src="../../content/img/logo.png" srcset="../../content/img/logo@2x.png 2x" alt="" />
        </div>
    </header>
    <div class="content">
        <div class="content__wrap">
            <router-outlet></router-outlet>
        </div>
        <footer class="footer">
            <div class="footer__wrap">
                <div class="footer__copy">&copy; Copyright – BeHappy24 2019. All rights reserved.</div>
            </div>
        </footer>
    </div>
</div>

<simple-notifications></simple-notifications>