<div>
    <div class="content__item about">
        <ul>
            <li>
                <p><strong>GoHappy</strong>- это сообщество интернет-бизнесменов и инвесторов, которое помогает участникам сообщества с помощью обучения в паре с интернет системой сообщества построить надежный долгосрочный интернет-бизнес на фундаменте гармонии и счастья, прийти к финансовой свободе и гармонизировать свой внутренний мир с материальным.<br />
                    <br />
                    <strong>Миссия сообщества</strong><br />
                    Помочь участникам сообщества построить надежный долгосрочный интернет-бизнес, прийти к финансовой свободе и гармонизировать свой внутренний мир с материальным.<br />
                    <br />
                    <strong>Ценности и особенности сообщества</strong></p>
            </li>
        </ul>

        <ol>
            <li>
                <p>В развитии бизнеса и в жизни мы используем закон &ldquo;<u>отдавания</u>&rdquo;.</p>
            </li>
            <li>
                <p>Мы не занимаемся продвижением и помощью в развитии не экологического бизнеса (оружие, наркотики, финансовые пирамиды, схемы, нацеленные на обман и т.д.).</p>
            </li>
            <li>
                <p>Наш бизнес и сообщество не относится к понятиям: &ldquo;дави оппонента ради сделки&rdquo;, &ldquo;продажа от двери в дверь&rdquo;, &ldquo;всё ради бизнеса&rdquo;.</p>
            </li>
            <li>
                <p>Для развития бизнеса в интернет мы используем уникальную программу обучения, маркетинговую CRM систему GoHappy, на основе которой любой пользователь интернет может получить доступ к авторскому курсу-интервью сообщества &ldquo;Финансовая свобода с первых шагов&rdquo;.</p>
            </li>
            <li>
                <p>У нас прекрасные наставники с многолетним опытом и крутыми результатами, которые деляться своим опытом!<br />
                    <br />
                    <strong>Цель на 2021 год:</strong>свыше 1000 человек, которые качественно улучшили свой образ жизни за счет продукта премиум-класса, путешествий, бизнеса Ariix и сообщества. Из них 100 человек с доходом более $1000 в месяц, 15 человек с доходом от $3000-$5000 в месяц. Посетить 4-5 стран в круизном путешествии!<br />
                    <br />
                    <strong>Цель на 3 года:</strong> свыше 20 000 структура сообщества, из них 1000 человек с доходом более $1000. <em>Сообществом создано и внедрено 1-2 коммерческих проекта с дополнительными возможностями для участников и 3 благотворительных проекта! </em><br />
                    <br />
                    <strong>Цель на 7 лет:</strong><br />
                    В процессе рождения</p>
            </li>
        </ol>

        <p style="margin-left:0.5in"><br />
            <em><strong>Как стать участником сообщества?</strong></em></p>

        <p style="margin-left:0.5in">Для того чтобы стать полноценным участником-партнером и строить интернет-бизнес нужно выполнить два условия:<br />
            <em><strong>Первое</strong></em><strong>:</strong> оплатить обучение и систему выбрав любой из тарифов на странице <a href="https://cabinet.gohappy.team/payment"><u><strong>Оплата системы</strong></u></a></p>

        <p style="margin-left:0.5in"><em><strong>Второе</strong></em><strong>:</strong> зарегистрироваться по партнерской реферальной ссылке в Ariix с покупкой стартового набора<br />
            <em>(Ссылка для партнерской регистрации в Ariix находиться у Вашего консультанта-наставника, контакты которого отображены в меню слева)</em></p>

        <p style="margin-left:0.5in">&nbsp;</p>

        <p style="margin-left:0.5in">Приглашаем Вас посетить и подписаться на инфо-канал в <a href="https://t.me/gohappyteam" target="_blank"><u><strong>Телеграм</strong></u></a> сообщества, чтобы моментально получать новости, а также подписаться на Бизнес страничку  <a href="https://www.facebook.com/GoHappyTm" target="_blank"><u><strong>фейсбук</strong></u></a> через которую мы проводим открытые прямые трансляции.</p>

    </div>
</div>