<div *ngIf="isRegistrationsDataAvailable">
    <div *ngIf="isPageDataAvailable">
        <div class="content__item content__item_center" *ngFor="let item of page.content" [innerHTML]="item.body">

        </div>
    </div>
    <div class="row" *ngIf="isStatisticsDataAvailable">
        <div class="col-6">
            <div class="content__item">
                <h2 class="content__title">Воронка продаж</h2>
                <div class="stats">
                    <div class="stats__item">
                        <div class="stats__title">Переходы на сайт</div>
                        <div class="stats__num">{{statistics.vl.value}}</div>
                        <div class="stats__line-wrap">
                            <div class="stats__line stats__line_color100" style="width: 100%;"></div>
                        </div>
                    </div>
                    <div class="stats__item">
                        <div class="stats__title">Регистрации на курс</div>
                        <div class="stats__num">{{statistics.sc.value}}</div>
                        <div class="stats__line-wrap">
                            <div class="stats__line stats__line_color25" [style.width]="statistics.sc.percent + '%'" style="max-width: 100%"></div>
                        </div>
                    </div>
                    <div class="stats__item">
                        <div class="stats__title">Закончили курс</div>
                        <div class="stats__num">{{statistics.cf.value}}</div>
                        <div class="stats__line-wrap">
                            <div class="stats__line stats__line_color20" [style.width]="statistics.cf.percent + '%'" style="max-width: 100%"></div>
                        </div>
                    </div>
                    <div class="stats__item">
                        <div class="stats__title">Заказали консультацию</div>
                        <div class="stats__num">{{statistics.fb.value}}</div>
                        <div class="stats__line-wrap">
                            <div class="stats__line stats__line_color5" [style.width]="statistics.fb.percent + '%'" style="max-width: 100%"></div>
                        </div>
                    </div>
                    <div class="stats__item">
                        <div class="stats__title">Мои партнёры и клиенты</div>
                        <div class="stats__num">{{statistics.pa.value}}</div>
                        <div class="stats__line-wrap">
                            <div class="stats__line stats__line_color2" [style.width]="statistics.pa.percent + '%'"style="max-width: 100%"></div>
                        </div>
                    </div>
                </div>
                <div class="content__bottom">
                    <div class="content__link">
                        <a (click)="goToStatisticsPage()">Вся статистика<div class="svg-icon svg-icon_icon-link-arrow">
                            <svg>
                                <use xlink:href="#icon-link-arrow"></use>
                            </svg>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="content__item" *ngIf="isRegistrationsByLeadersDataAvailable">
                <h2 class="content__title">ТОП 5 партнеров по регистрациям на курс</h2>
                <div class="tabs">
                    <div class="tabs__item" (click)="tabClick(0)" [ngClass]="{active: registrationByLeadersConfig[0].active}">Неделя</div>
                    <div class="tabs__item" (click)="tabClick(1)" [ngClass]="{active: registrationByLeadersConfig[1].active}">Месяц</div>
                    <div class="tabs__item" (click)="tabClick(2)" [ngClass]="{active: registrationByLeadersConfig[2].active}">Квартал</div>
                </div>
                <div class="tab__content">
                    <div class="tab__pane active" id="register-tab1">
                        <div class="people" *ngFor="let registration of laatestRegistrationByLeaders">
                            <div class="people__item">
                                <div class="people__img" style="text-align: center;">
                                    <img [src]="dataBaseUrl + registration.iconUrl" alt="" style="max-width: 100%;"/>
                                </div>
                                <div class="people__name">{{registration.firstName}} {{registration.secondName}}</div>
                                <div class="people__value">Регистраций: <span>{{registration.count}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6" *ngIf="isStatisticsDataAvailable">
            <div class="content__item">
                <h2 class="content__title">Последние регистрации на курс</h2>
                <p class="content__desc">Всего получили курс: {{users.length}} чел.</p>
                <div class="people" *ngFor="let registration of latestRegistrations.registrations">
                    <div class="people__item">
                        <div class="people__img" style="text-align: center;">
                            <div class="svg-icon svg-icon_icon-partner-ava">
                                <svg>
                                    <use xlink:href="#icon-partner-ava"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="people__name">{{registration.firstName}} {{registration.secondName}}</div>
                        <div class="people__value" style="display: -webkit-inline-box;">
                            <div class="people__icon">
                                <div class="svg-icon svg-icon_icon-ua">
                                    <img [src]="dataBaseUrl+ '/flags/' + registration.country + '.gif'">
                                </div>
                            </div>
                            <div style="width: 130px;">
                                {{ registration.createdDate | date:'hh:mm' }} | {{ registration.createdDate | date:'dd.MM.yyy' }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
