<script src="ariix.component.ts"></script>
<div>
    <div class="content__item content__item_center">
        <h2 class="content__title content__title_big">За 9 лет c момента запуска Ariix создала суммарный товарооборот более 1`000`000`000 $<br>
            С которых 51% более 510`000`000$ выплатила своим партнерам</h2>
        <h3 class="content__subtitle">При помощи наших наставников мы отобрали надежного партнера для развития
            интернет-бизнеса и это Ariix(USA). ARIIX основана в 2011 году и является одной из самых динамично
            развивающихся и быстрорастущих компаний в отрасли премиум-продуктов с присутствием в более чем 60 странах мира.
            Более года мы тестировали товары Ariix и можем гордо заявить - да,
            это действительно продукты премиум-класса, которые дают превосходный результат!</h3>
        <div>
            <div class="video">
                <div class="video__source">
                    <iframe src='https://www.youtube.com/embed/ehOVt5DuNrE' frameborder='0' allowfullscreen></iframe>
                </div>
            </div>
            <div class="video">
                <div class="video__source">
                    <iframe src='https://www.youtube.com/embed/2u3co-tkcqo' frameborder='0' allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div>
            <div class="video">
                <div class="video__source">
                    <iframe src='https://www.youtube.com/embed/z4S5maMYlGk' frameborder='0' allowfullscreen></iframe>
                </div>
            </div>
            <div class="video">
                <div class="video__source">
                    <iframe src='https://www.youtube.com/embed/UV_InEGLBSg' frameborder='0' allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="content__link">
            <a href="https://cabinet.gohappy.team/education">Продолжить обучение<div class="svg-icon svg-icon_icon-link-arrow">
                <svg>
                    <use xlink:href="#icon-link-arrow"></use>
                </svg>
            </div>
            </a>
        </div>
    </div>
    <div class="content__item" style="height: 400px">
        <div class="content__calendar">
            <iframe [src]="urlSafe" width="100%" height="300px"></iframe>
        </div>
    </div>
</div>
