<div class="content__item content__item_center">
    <h2 class="content__title content__title_big">Узнайте как обойти самые болезненные грабли на старте и МОЩНО запустить Ваш бизнес с нуля!</h2>
    <h3 class="content__subtitle">Приветствие от основателей сообщества BeHapyy24</h3>
    <div class="video">
        <div class="video__preview" style="background-image: url(../../content/pic/video-preview.jpg)"></div>
        <div class="video__source" data-src="https://www.youtube.com/embed/Ei1s4eHTlmg"></div>
    </div>
    <h2 class="content__title content__title_big">Как выйти на Вашу первую 1,000$, 10.000$ и более в месяц?</h2>
    <h3 class="content__subtitle">Действуйте по Пошаговой системе обучения</h3>
    <div class="content__link">
        <a href="">Продолжить обучение<div class="svg-icon svg-icon_icon-link-arrow">
            <svg>
                <use xlink:href="#icon-link-arrow"></use>
            </svg>
        </div>
        </a>
    </div>
</div>